.about {
    .about__content {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      top: 15%;
      left: 0%;
      right: 0;
      margin: auto;
      height: 70%;
      width: 70%;
  
      .about__photo {
        height: 100%;
        opacity: 0.9;
        position: absolute;
      }
  
      .about__text {
        max-width: 45%;
        position: absolute;
        top: 25%;
        right: 0;
        line-height: 2;
      }
    }
  
    h2 {
      position: absolute;
      top: 80%;
      left: 10%;
    }
  }