.contact {
  @include columnDisplay(center, center);

  p:nth-child(1) {
    text-align: center;
    font-size: 3.3rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin: 0.5em 0em;
  }

  p:nth-child(2) span {
    font-size: 1.3rem;
  }

  .socialmedias{
    margin-top: 3em;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
      height: 30px;
    }
  }
}