.header {
    height: 4.2rem;
    width: 100%;
    padding: 5px 10px;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    * {
        display: inline-block;
        font-size: 12px;
    }

    .header__introduction {
        width: 25%;

        .header__introduction * {
            display: block;
        }
    }

    .header__logo {
        height: 100%;
        width: 50%;
    }

    .header__languages {
        width: 25%;
        text-align: right;
    }
}