.intro__text {
  width: 60vw;
  @include columnDisplay(flex-end, center);

  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;

  p:first-child {
    margin-bottom: 1em;

    span {
      font-size: 1.5rem;
      font-style: italic;
    }
  }

  h1 {
    font-size: 3.3rem;
    font-weight: 700;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  p:nth-of-type(3) {
    margin-bottom: 1em;
  }

  p:nth-of-type(4) {
    text-transform: uppercase;
  }
}

.scrollIcon {
  position: absolute;
  bottom: 7vh;
  left: 50%;
  transform: translateX(-50%);
  @include columnDisplay(center, center);
  opacity: 0;
  transition: opacity 0.8s;

  p {
    font-size: 0.7rem;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 1em;
  }

  .scrollIcon__icon {
    height: 3.2rem;
    width: 1.8rem;
    border: 1.5px solid $contentColor;
    border-radius: 50px;

    &::after {
      content: "";
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background: $contentColor;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 10px);
      animation: scrollDown 1.5s infinite;
    }

    @keyframes scrollDown {
      20% {
        transform: translateX(-50%, 10px);
        opacity: 1;
      }
      100% {
        transform: translate(-50%, 30px);
        opacity: 0;
      }
    }
  }
}

.appeared {
  opacity: 1;
}
