section:nth-child(2),
section:nth-child(3),
section:nth-child(4) {
  padding: 3rem;

  .project {
    height: 70vh;
    margin: 0 auto;
    max-width: 80vw;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    div {
      height: calc(70vh / 2);
      width: calc(80vw / 4);

      background-color: white;

      transition: transform 0.5s ease-out;
      transform-origin: center;
        transform: perspective(800px) rotateY(90deg); 
    }

    @for $i from 0 through 9 {
        div:nth-child(#{$i}) {
          transition-delay: $i * 0.1s;
        }
      }
  }

  .project:hover {
      div {
        transform: perspective(0) rotateY(0); 
      }
  }

  h4 {
    position: absolute;
    font-size: 2.5rem;
    letter-spacing: 0.8rem;
  }
}
