section:first-child{

    .greeting {
        font-style: italic;
        margin: 5rem;
    }

    h2 {
        font-size: 2.5rem;
        letter-spacing: 0.8rem;
        margin-bottom: 5rem;
    }

    ul {
        margin-bottom: 5rem;
    }

    .more__button {
        height: 50px;
        width: 210px;
        border: solid 2px white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}