@font-face {
  font-family: "Gotham";
  src: url("fonts/GothamMedium_0.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background: url(../images/texture/noise.png) /*black rgb(25, 23, 26)*/;
  background-size: 256px 256px;
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
  font-family: "Gotham";
  /*cursor: crosshair;*/
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.border {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  border: 500px solid rgb(11, 0, 15);
  pointer-events: none;
  transition: all 1s ease;
}

.loader__text {
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p{
    text-transform: uppercase;

    &:nth-child(1){
      font-size: 5rem;
    }

    &:nth-child(2){
      font-size: 2rem;
    }
  }
}

.colorFilter {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -10;
  background: rgba(123, 0, 134, 0.05);
}

canvas {
  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0;
  z-index: -10;
}

.canvas2D {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -50;
}

.canvas3D {
  position: fixed;
  z-index: -20;
}