.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: black;
  opacity: 1;
  transition: all 1s;
  pointer-events: none;
}

.vignette {
  position: fixed;
  z-index: -5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background: radial-gradient(transparent, transparent, black);
  pointer-events: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba($color: #000000, $alpha: 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($color: #808080, $alpha: 0.3);
  transition: all 0.3s;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($color: #808080, $alpha: 0.7);
}

canvas {
  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0;
  z-index: -10;
}

.particles {
  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0;
  z-index: -5;
}

body {
  background: rgb(29, 29, 29);
  color: white;
  @include common-text;

  background-image: url(../images/texture/noise.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .wave {
    position: absolute;
    z-index: -20;
    height: 100%;
    width: 100%;
  }

  .particles {
    position: fixed;
    height: 100vh;
    width: 100vw;

    div {
      position: fixed;
      animation: 8s up;
      opacity: 0;
    }

    span {
      color: grey;
      font-family: sans-serif;
      display: block;
      animation: 5s rotation linear infinite;
    }

    @keyframes up {
      0% {
        opacity: 1;
        transform: translateY(100px) scale(0);
      }

      50% {
        transform: translateY(0) scale(1);
      }

      80% {
        opacity: 1;
      }

      100% {
        transform: translateY(0) scale(1);
        opacity: 0;
      }
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}