html{
  font-size: 100%;
}

body {
  background: url(../images/texture/noise.png);
  background-size: 256px 256px;
  background-repeat: repeat;
  background-attachment: fixed;
  cursor: crosshair;
  touch-action: none;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.1s;

  * {
    font-family: 'Raleway', sans-serif;
    color: $contentColor;
    touch-action: none;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  touch-action: none;
}

section {
  @include viewportSize;
  position: relative;

  h2 {
    @include sectionTitle;
    position: absolute;
    top: 80%;
    left: 10%;
  }
}

.border {
  @include viewportSize;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  border: 500px solid rgb(6, 0, 8);
  pointer-events: none;
  transition: all 1s $cubic-bezier;
}

.colorFilter {
  @include viewportSize;
  position: fixed;
  top: 0;
  z-index: -10;
  background: $colorFilter;
}

.loader__text {
  position: absolute;
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  z-index: 20000;
  @include columnDisplay(center, center);

  .loader__logo {
    height: 13vh;
    position: absolute;
    top: 20%;

    path {
      stroke-dasharray: 400;
      stroke-dashoffset: 400;
    }

    .face polyline {
      stroke-dasharray: 350;
      stroke-dashoffset: 350;
    }

    .bottom polygon {
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
    }

    .bottom polyline {
      stroke-dasharray: 400;
      stroke-dashoffset: 400;
    }

    .side polygon {
      stroke-dasharray: 300;
      stroke-dashoffset: 300;
    }

    .side .polygon--longest {
      stroke-dasharray: 350;
      stroke-dashoffset: 350;
    }
  }

  p{
    &:nth-of-type(1) span{
      @include bigTitle;
    }

    &:nth-of-type(2) span, &:nth-of-type(3) span{
      font-size: 1.2rem;
      font-style: italic;
    }
  }
}

canvas {
  @include viewportSize;
  position: fixed;
  top: 0;

  &.canvas3D {
    z-index: -30;
  }
  
  &.canvas2D {
    z-index: -40;
  }
}

.temporaryText {
  display: none;
}

@media (max-width: 1200px) {
  main, .leftNav {
    display: none;
  }

  .temporaryText {
    display: block;
    @include viewportSize;
    @include columnDisplay(center, center);
    padding: 5vh;

    p{
      font-size: 1.2rem;
      text-align: center;
      line-height: 2;
    }

    p:nth-child(3) {
      margin-top: 2em;
    }

    p:nth-child(4) {
      font-size: 1rem;
    }

    .socialmedias{
      margin-top: 2em;
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
      img {
        height: 30px;
      }
    }
  }
}