@keyframes white-glow {
    0% {
      color: #A5A5A5;
      text-shadow: 0 0 2px #EBF4F4, 0 0 7px #C3ECF4;
    }
    18% {
      color: #A5A5A5;
      text-shadow: 0 0 2px #EBF4F4, 0 0 7px #C3ECF4;
    }
    20% {
      color: #FFFFFF;
      text-shadow: 0 0 7px #EBF4F4, 0 0 20px #C3ECF4;
    }
    30% {
      color: #A5A5A5;
      text-shadow: 0 0 2px #EBF4F4, 0 0 7px #C3ECF4;
    }
    35% {
      color: #FFFFFF;
      text-shadow: 0 0 7px #EBF4F4, 0 0 20px #C3ECF4;
    }
    70% {
      color: #A5A5A5;
      text-shadow: 0 0 2px #EBF4F4, 0 0 7px #C3ECF4;
    }
    85% {
      color: #FFFFFF;
      text-shadow: 0 0 7px #EBF4F4, 0 0 20px #C3ECF4;
    }
    90% {
      color: #A5A5A5;
      text-shadow: 0 0 2px #EBF4F4, 0 0 7px #C3ECF4;
    }
    100% {
      color: #A5A5A5;
      text-shadow: 0 0 2px #EBF4F4, 0 0 7px #C3ECF4;
    }
  }